folium==0.16.0
geopy==2.4.1
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.2
pillow==10.4.0
pyttsx3==2.90
pyyaml==6.0.2
qrcode==7.4.2
requests==2.32.3
scipy==1.13.1
streamlit==1.38.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.5
ultralytics==8.2.74
